@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "variables";
@import "loader";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary;
    font-family: $font-family;
    color: $background;
}

header {
    display: flex;
    flex-direction: column;
    & > *{
        margin-bottom: 1em;
    }
}

main {
    display: flex;
    flex-direction: row;
    & > *{
        margin-bottom: 1em;
    }
}

input[type=text] {
    background: $background;
    border-radius: 5px;
    height: 2em;
    min-width: 70%;
    
    border: none;
    margin-bottom: 1em;
    border: 1px solid $secondary;
}

.block {
    border-radius: 20px;
    padding: 1em;
}

.btn {
    border-radius: 5px;
    border: none;
    height: 2em;
    width: fit-content;
    background-color: $background;
    border: 1px solid $secondary;
    &:active {
        background-color: $secondary;
        color: $background;
    }
}

.search-btn {
    min-width: 20%;
}

.banner {
    color: $background;
    font-size: larger;
    
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    .title{
        grid-column: 2/12
    }
}

.ticker-list-view {
    background-color: $background;
    color: $primary;
    margin: 1em;
    box-shadow: $box-shadow-two;
}

.watch-list-item {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 5px;
    &__button{
        border: 1px solid $primary;
        color: $secondary;
        
        &:active {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: $secondary;
        }
    }
}

.ticker-search-view {
    // border: 3px solid $secondary;
    margin: 1em;
    box-shadow: $box-shadow-two;
    border: 1px solid $background;
}

.search-result {
    text-align: center;
}

.ticker-card-container {
    width: 100vw;
}

.ticker-card {
    margin-bottom: 1em;
    height: fit-content;
    background-color: $background;
    box-shadow: $box-shadow-one;
    &:hover {
        background-color: darken($background, 10);
        // color: $background;
    }
}

.ticker-news-list{
    li {
        margin-bottom: 1em;
    }
    a {
        text-decoration: none;
        color: $secondary;
        &:hover {
            color: $primary;
        }
    }
}

.low {
    border: 3px solid $low;
    color: $low;
}

.high {
    border: 3px solid $high;
    color: $high;
}

footer {
    border-top: 1px solid white;
    text-align: center;
    padding: 20px 5vw;
    margin: 0 5%;
    position: fixed;
    width: 80%;
    left: 0;
    bottom: 0;
    font-size: xx-small;
}


@media only screen and (min-width: 650px) {

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .ticker-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    .ticker-card {
       min-width: 15em;
    }
}

@media only screen and (min-width: 900px) {

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 5%;
    }

    main{
        padding: 0 5%;
    }

    .ticker-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    
    }
    .ticker-card {
       min-width: 10em;
       margin-right: 1em;
    }
}